@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
body {
	background-color: #25232a;
	color: white;
	font-family: 'Varela', sans-serif;
	margin: 0;
	overflow: hidden;
}

#app {
	width: 100vw;
	height: 100vh;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	margin-left: 2px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
}

::-webkit-scrollbar-corner {
	opacity: 0;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.3);
}