@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
body {
	background-color: #25232a;
	color: white;
	font-family: 'Varela', sans-serif;
	margin: 0;
	overflow: hidden;
}

#app {
	width: 100vw;
	height: 100vh;
}

.react-tooltip-lite {
	background: #23272adb;
	border: 1px solid gray;
	border-radius: 5px;
}

.otherplayers > * {
	margin: 5px;
}

::-webkit-scrollbar {
	width: 8px;
	margin-left: 2px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.3);
}

.otherplayers {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.overlay-wrapper {
	width: 100px;
	border-radius: 8px;
	position: relative;
	margin-top: -16px;
	padding-left: 8px;
}

.overlay-wrapper.gamestate_menu {
	background-color: rgba(0, 0, 0, 0.85);
	left: 8px;
	top: 60px;
}

.overlay-wrapper.gamestate_game {
	padding-top: 8px;
	padding-left: 0px;
	width: 800px;
	background-color: rgba(0, 0, 0, 0.5);
}

.overlay-wrapper.overlay_postion_top {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}

.overlay-wrapper.overlay_postion_bottom_left {
	position: absolute;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.35) !important;
	width: auto !important;
	margin-right: auto;
	margin-top: 0px;
}
.overlay-wrapper.compactoverlay {
	background-color: unset !important;
}

.overlay-wrapper.overlay_postion_right,
.overlay-wrapper.overlay_postion_left {
	background-color: unset !important;
	width: 300px;
	padding: 10px;
}

.overlay-wrapper.overlay_postion_left {
	margin-left: unset !important;
	margin-right: auto !important;
}

.overlay-wrapper.overlay_postion_right {
	margin-left: auto !important;
	margin-right: unset !important;
}

.overlay-wrapper.overlay_postion_bottom_left .otherplayers {
	justify-content: left;
	align-items: left;
}

.overlay-wrapper.overlay_postion_right .otherplayers,
.overlay-wrapper.overlay_postion_left .otherplayers {
	width: 100%;
	height: 100vh;
	flex-direction: column;
}

.overlay-wrapper.overlay_postion_right .playername,
.overlay-wrapper.overlay_postion_left .playername {
	padding-top: 3vh;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
}
.overlay-wrapper.overlay_postion_right .playername small,
.overlay-wrapper.overlay_postion_left .playername small {
	background-color: rgba(0, 0, 0, 0.322);
}

.overlay-wrapper.overlay_postion_right .playername {
	float: right;
}
.overlay-wrapper.overlay_postion_left .playername {
	float: left;
	padding-left: 5px;
}

.overlay-wrapper.overlay_postion_left .player_wrapper,
.overlay-wrapper.overlay_postion_right .player_wrapper {
	width: 100%;
}

.player_wrapper {
	text-align: center;
}

.overlay-wrapper .player_wrapper > div:first-of-type {
	width: 60px;
	float: unset;
}

.overlay-wrapper.overlay_postion_right .player_wrapper > div:first-of-type {
	padding-left:10px;
	padding-right:10px;
	padding-top: 1px;
	width: 6vh !important;
	float: right;
}

.overlay-wrapper.overlay_postion_left .player_wrapper > div:first-of-type {
	padding-left:10px;
	padding-right:10px;
	padding-top: 1px;
	width: 6vh !important;
	float: left;
}
