@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
body {
	background-color: #25232a;
	color: white;
	font-family: 'Varela', sans-serif;
	margin: 0;
	overflow: hidden;
}

#app {
	width: 100vw;
	height: 100vh;
}

.react-tooltip-lite {
	background: #23272adb;
	border: 1px solid gray;
	border-radius: 5px;
}

.otherplayers > * {
	margin: 5px;
}

::-webkit-scrollbar {
	width: 8px;
	margin-left: 2px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.3);
}

.otherplayers {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

