.waiting {
	font-size: 20px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.button {
	color: white;
	background: none;
	padding: 2px 10px;
	border-radius: 10px;
	border: 4px solid white;
	font-size: 25px;
	outline: none;
	font-weight: 500;
	font-family: 'Varela', sans-serif;
	margin-top: 24px;
}

.button:hover {
	border-color: #00ff00;
	cursor: pointer;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.errormessage {
	margin: 5px;
}

.title {
	width: 100%;
	text-align: center;
	display: block;
	height: 24px;
	line-height: 24px;
	color: #9b59b6;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer .row {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin: 5px;
}

.footer svg {
	cursor: pointer;
}