#settings {
	transition: transform .2s ease-in;
	width: 100vw;
	height: 100vh;
	background: #171717ad;
	backdrop-filter: blur(4px);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding-top: 20px;
}

.form-control {
	user-select: none;
}

.form-control.l {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.form-control.m {
	margin-bottom: 10px;
}

.titlebar-button.back {
	right: 2px;
	transition: transform .1s linear;
}

.titlebar-button.back:hover {
	transform: translateX(-1px);
}

input[type="text"] {
	background: #1d1d1d;
	border: 1px solid rgba(255, 255, 255, 0.5);
	outline: none;
	color: white;
	padding: 5px;
	border-radius: 5px;
}

.form-control.m .input-error {
	border-color: #b00020
}

input[type="text"]:focus {
	border-color: white;
}

select {
	background: #1d1d1d;
	border: 1px solid rgba(255, 255, 255, 0.5);
	outline: none;
	color: white;
	padding: 5px;
	border-radius: 5px;
	max-width: 240px;
}

.settings-scroll {
	overflow-y: auto;
	height: calc(100vh - 50px);
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	margin-bottom: 30px;
	width: 100%;
}

.microphone-bar {
	width: 200px;
	height: 10px;
	background: #1d1d1d;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	margin: 5px auto;
	overflow: hidden;
}

.microphone-bar-inner {
	background: #e74c3c;
	height: 10px;
	border-radius: 5px;
}

.test-speakers {
	width: fit-content;
	margin: 5px auto;
}

.settings-alert {
	background: #f1c40f;
	color: black;
	position: absolute;
	bottom: 20px;
	left: 0;
	height: 30px;
	justify-content: center;
	align-items: center;
	width: 100vw;
}