#settings {
	transition: transform .2s ease-in;
	width: 100vw;
	height: 100vh;
	background: #171717ad;
	backdrop-filter: blur(4px);
	position: absolute;
	top: 0;
	left:0;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding-top: 20px;
}

.form-control {
	user-select: none;
}

.form-control.l {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.form-control.m {
	margin-bottom: 10px;
}

.titlebar-button.back {
	right: 2px;
	transition: transform .1s linear;
}

.titlebar-button.back:hover {
	transform: translateX(-1px);
}

input[type="text"] {
	background: #1d1d1d;
	border: 1px solid rgba(255, 255, 255, 0.5);
	outline: none;
	color: white;
	padding: 5px;
	border-radius: 5px;
}
input[type="text"]:focus {
	border-color: white;
}

select {
	background: #1d1d1d;
	border: 1px solid rgba(255, 255, 255, 0.5);
	outline: none;
	color: white;
	padding: 5px;
	border-radius: 5px;
	max-width: 240px;
}